.navbar {
    padding: 0;
}

.bg-orange{
    background: rgb(255, 106, 0);
    background: linear-gradient(90deg, rgba(255, 106, 0, 1) 0%, rgba(255, 153, 6, 1) 50%, hsl(46, 100%, 50%) 100%);
}

.navbar-toggler-icon {
    border-color: lightgreen; 
}

.nav-link {
    color: white!important;
    font-weight: 500;
}

.nav-item {
    line-height: 3rem;
    width: 150px;
}

.nav-item:hover {
    opacity: 60%!important;
}