/* .navbar {
    padding: 0;
} */

.bg-orange, .navbar-orange {
    background: rgb(255, 106, 0);
    background: linear-gradient(90deg, rgba(255, 106, 0, 1) 0%, rgba(255, 153, 6, 1) 50%, rgba(255, 196, 0, 1) 100%);
}

.navbar-toggler-icon {
    border-color: lightgreen; 
}

.nav-link {
    color: white!important;
    font-weight: 500;
}

.nav-item {
    width: 100px;
    text-align: center;
}

.nav-item:hover {
    opacity: 60%!important;
}

.login-button {
    border: 1pt solid white;
    background-color:  rgba(255, 196, 0, 1);
}