/* Toolbar CSS */

/* in table.css */

/* Store List CSS */

.main-containter{
    /* padding: 1-%; */
    background-color: white;
    padding: 2% 5%;
    /* margin: 2%;
    border-radius: 5px; */
}

.store-card, .main-containter {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: 0px 1px 1px 0px solid;
    margin: 1.5rem 0;
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.m-b-25 {
    margin-bottom: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}
.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

/*  */

.store-img img {
    width: 100%;
    height: 100%;
}

.store-btn button {
    margin-left: 5px!important;
}

.store-btn {
    text-align: end;
}